[colors]
background = #2E3440
foreground = #8fbcbb
;foreground = #2e3440
foreground-alt = #D8DEE9
;foreground-alt = #4C566A
;foreground-alt = 9fabad

[bar/mybar]
width = 100%
height = 30
fixed-center = true

background = ${colors.background}
foreground = ${colors.foreground}

padding-left = 1
padding-right = 1

module-margin-left = 0
module-margin-right = 2

font-0 = Noto Sans:size=16;4
font-1 = fontawesome-webfont.ttf:size=16;4

modules-left = ewmh cpu memory
modules-center = network
modules-right = date battery

tray-position = right
tray-padding = 0
;tray-background = #0063ff
tray-foreground = 9fabad

; used for to display workspaces
[module/ewmh]
type = internal/xworkspaces

; Only show workspaces defined on the same output as the bar
;
; Useful if you want to show monitor specific workspaces
; on different bars
;
; Default: false
pin-workspaces = true

;label-active = %name%
label-active-foreground = #BF616A
label-active-background = #BF616A
;label-active-underline = #D08770
label-empty-foreground = ${colors.foreground}
label-occupied-foreground = ${colors.foreground}

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
label = %percentage:2%%
label-foreground = ${colors.foreground}

[module/memory]
type = internal/memory
interval = 2
format-prefix = "RAM "
format-prefix-foreground = ${colors.foreground-alt}
label = %percentage_used%%
label-foreground = ${colors.foreground}

[module/network]
type = internal/network
interface = wlp4s0

; Seconds to sleep between updates
; Default: 1
interval = 3.0

; Accumulate values from all interfaces
; when querying for up/downspeed rate
; Default: false
accumulate-stats = true

format-connected = <label-connected>
format-disconnected = no connection

label-connected = %{F#D8DEE9}%{F-} %upspeed:9%  %{F#D8DEE9}%essid%%{F-}   %{F#D8DEE9}%{F-} %downspeed:9%
label-connected-foreground = ${colors.foreground}

[module/date]
type = internal/date
interval = 5

date-alt = "%a %d-%B-%Y"

time = %H:%M
time-alt = %H:%M

format-prefix = 
format-prefix-foreground = ${colors.foreground}

label = %date% %time%
label-foreground = ${colors.foreground}

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 98

format-charging = %{A1:notify_bat:}<animation-charging> <ramp-capacity> %{A}
;format-charging-underline = #ffb52a

;format-discharging = <ramp-capacity> <label-discharging>
format-discharging = %{A1:notify_bat:}<ramp-capacity> %{A}
;format-discharging-underline = ${self.format-charging-underline}

format-full-prefix = "Fully charged "
format-full-prefix-foreground = ${colors.foreground}
;format-full-underline = ${self.format-charging-underline}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = ${colors.foreground-alt}

animation-charging-0 =   
animation-charging-foreground = ${colors.foreground-alt}

[settings]
screenchange-reload = true
